<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="redirection">
      <h2 data-cy="redirectionDetailsHeading"><span jhiTranslate="fluidQrServerApp.redirection.detail.title">Redirection</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ redirection.id }}</span>
        </dd>
        <dt><span jhiTranslate="fluidQrServerApp.redirection.description">Description</span></dt>
        <dd>
          <span>{{ redirection.description }}</span>
        </dd>
        <dt><span jhiTranslate="fluidQrServerApp.redirection.code">Code</span></dt>
        <dd>
          <span>{{ redirection.code }}</span>
        </dd>
        <dt><span jhiTranslate="fluidQrServerApp.redirection.url">Url</span></dt>
        <dd>
          <span>{{ redirection.url }}</span>
        </dd>
        <dt><span jhiTranslate="fluidQrServerApp.redirection.enabled">Enabled</span></dt>
        <dd>
          <span>{{ redirection.enabled }}</span>
        </dd>
        <dt><span jhiTranslate="fluidQrServerApp.redirection.creation">Creation</span></dt>
        <dd>
          <span>{{ redirection.creation | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="fluidQrServerApp.redirection.startDate">Start Date</span></dt>
        <dd>
          <span>{{ redirection.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="fluidQrServerApp.redirection.endDate">End Date</span></dt>
        <dd>
          <span>{{ redirection.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="fluidQrServerApp.redirection.user">User</span></dt>
        <dd>
          <span>{{ redirection.user?.id }}</span>
        </dd>
        <dt><span jhiTranslate="fluidQrServerApp.redirection.qrCode">Qr Code</span></dt>
        <dd>
          <div *ngIf="redirection.qrCode">
            <a [routerLink]="['/qr-code', redirection.qrCode?.id, 'view']">{{ redirection.qrCode?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/redirection', redirection.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
