<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="qr-codes.addQrCode">Add Qr Code</h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>

<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="creationError" jhiTranslate="qr-codes.error.addQrCode">
                <strong>Failed to add new QR code</strong> Please check your input (unique code & valid URL) and try it again.
            </div>
        </div>

        <div class="col-md-8">
<!--            <form class="form" role="form" (ngSubmit)="add()" [formGroup]="loginForm">-->
<!--                <div class="form-group">-->
<!--                    <label class="code-label" for="code" jhiTranslate="fluidQrServerApp.qrCode.code">Code</label>-->
<!--                    <div class="input-group">-->
<!--                        <h4 class="mr-2">-->
<!--                            {{ account?.login }}- -->
<!--                        </h4>-->
<!--                        <input type="text" class="form-control" name="code" id="code"-->
<!--                               formControlName="code" #code>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <button type="submit" class="btn btn-primary" jhiTranslate="qr-codes.add">Add</button>-->
<!--            </form>-->
            <form class="form" #f="ngForm" (ngSubmit)="submit(f)">
                <div class="form-group">
                    <label class="code-label" for="code-input" jhiTranslate="fluidQrServerApp.qrCode.code">Code</label>
                    <div class="input-group">
                        <h4 class="mr-2">
                            {{ account?.login }}-
                        </h4>
                        <input type="text" class="form-control" name="code-input" id="code-input" [(ngModel)]="code">
                    </div>
                    <label class="redirection-input-label mt-3" for="redirection-input" jhiTranslate="qr-codes.redirection">Redirection</label>
                    <input type="text" class="form-control" name="redirection-input" id="redirection-input" required [(ngModel)]="currentRedirection" [pattern]="urlPattern">
                </div>
                <button type="submit" class="btn btn-primary mt-4" jhiTranslate="qr-codes.add">Add</button>
            </form>

        </div>
    </div>
</div>
