<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="qr-codes.addQrCode">Add Qr Code</h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>

<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="creationError" jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>

        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="add()" [formGroup]="loginForm">
                <div class="form-group">
                    <label class="code-label" for="code" jhiTranslate="fluidQrServerApp.qrCode.code">Code</label>
                    <input type="text" class="form-control" name="code" id="code"
                           formControlName="code" #code>
                </div>

                <button type="submit" class="btn btn-primary" jhiTranslate="qr-codes.add">Add</button>
            </form>

        </div>
    </div>
</div>
