
<div class="row">

    <div class="col-2">
            <div class="mb-2">
                <span jhiTranslate="qr-codes.publicUrl">Public URL</span>: <br>
                <a target="_blank" [href]="redirectUrl">{{ redirectUrl }}</a>
            </div>

            <div class="mb-2">
                <span jhiTranslate="qr-codes.currentRedirection">Current Redirection</span>: <br>
                <a target="_blank" [href]="currentRedirection">{{ currentRedirection }}</a>
            </div>

            <div class="mt-3">
                <span jhiTranslate="qr-codes.newRedirection">New Redirection</span>: <br>
                <form #f="ngForm" (ngSubmit)="updateRedirection(f)">
                    <label>
                        <input type="text" class="form-control" name="updateRedirect" required [(ngModel)]="updateRedirect" [pattern]="urlPattern">
                        <button class="btn btn-primary mt-2" jhiTranslate="qr-codes.enable">Enable</button>
                    </label>
                </form>

            </div>

    </div>

    <div class="col-4">
        <div id="canvas"></div>
        <a [href]="qrCodeImage" class="btn btn-primary mt-3 text-white" (click)="onDownload()" download="bildwerkqr" jhiTranslate="qr-codes.download">Download</a>
    </div>

</div>
