<div>
    <h2 id="page-heading">
        <span jhiTranslate="fluidQrServerApp.qrCode.home.title">Qr Codes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qr-code" [routerLink]="['/qr-code/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="fluidQrServerApp.qrCode.home.createLabel">
            Create a new Qr Code
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="qrCodes?.length === 0">
        <span jhiTranslate="fluidQrServerApp.qrCode.home.notFound">No qrCodes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="qrCodes && qrCodes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="fluidQrServerApp.qrCode.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="fluidQrServerApp.qrCode.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let qrCode of qrCodes ;trackBy: trackId">
                    <td><a [routerLink]="['/qr-code', qrCode.id, 'view']">{{ qrCode.id }}</a></td>
                    <td>{{ qrCode.code }}</td>
                    <td>
                        {{ qrCode.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/qr-code', qrCode.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/qr-code', qrCode.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(qrCode)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
