<div>
  <h2 id="page-heading" data-cy="QrCodeOverviewHeading">
    <span jhiTranslate="fluidQrServerApp.qrCode.home.title">Qr Codes</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-redirection"
        [routerLink]="['/redirection/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fluidQrServerApp.qrCode.home.createLabel">Create a new Qr Code</span>
      </button>
    </div>
  </h2>

  <div class="row row-cols-1 row-cols-md-3 mb-3 mt-5 text-center">
    <div *ngFor="let qrCode of qrCodes">
      <jhi-qr-code-card [currentQrCode]="qrCode" />
    </div>
  </div>
</div>
