<div>
  <h2 id="page-heading" data-cy="RedirectionHeading">
    <span jhiTranslate="fluidQrServerApp.redirection.home.title">Redirections</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="fluidQrServerApp.redirection.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-redirection"
        [routerLink]="['/redirection/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fluidQrServerApp.redirection.home.createLabel"> Create a new Redirection </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="redirections?.length === 0">
    <span jhiTranslate="fluidQrServerApp.redirection.home.notFound">No redirections found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="redirections && redirections.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="fluidQrServerApp.redirection.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="code">
            <span jhiTranslate="fluidQrServerApp.redirection.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="url">
            <span jhiTranslate="fluidQrServerApp.redirection.url">Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="enabled">
            <span jhiTranslate="fluidQrServerApp.redirection.enabled">Enabled</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creation">
            <span jhiTranslate="fluidQrServerApp.redirection.creation">Creation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <span jhiTranslate="fluidQrServerApp.redirection.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <span jhiTranslate="fluidQrServerApp.redirection.endDate">End Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="fluidQrServerApp.redirection.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="qrCode.id">
            <span jhiTranslate="fluidQrServerApp.redirection.qrCode">Qr Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let redirection of redirections; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/redirection', redirection.id, 'view']">{{ redirection.id }}</a>
          </td>
          <td>{{ redirection.description }}</td>
          <td>{{ redirection.code }}</td>
          <td>{{ redirection.url }}</td>
          <td>{{ redirection.enabled }}</td>
          <td>{{ redirection.creation | formatMediumDatetime }}</td>
          <td>{{ redirection.startDate | formatMediumDatetime }}</td>
          <td>{{ redirection.endDate | formatMediumDatetime }}</td>
          <td>
            {{ redirection.user?.id }}
          </td>
          <td>
            <div *ngIf="redirection.qrCode">
              <a [routerLink]="['/qr-code', redirection.qrCode?.id, 'view']">{{ redirection.qrCode?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/redirection', redirection.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/redirection', redirection.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(redirection)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
