<div class="row">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light mb-4" jhiTranslate="home.brand">Fluid QR von [bild:werk] medien</h1>
        <p class="lead text-muted" jhiTranslate="home.info">
          Die Fluid QR Platform ermöglicht die Erstellung eines beständigen und leicht lesbaren Links, der auf einen anderen Link Deiner
          Wahl verweist. Die mit Fluid QR erstellten Links können bedenkenlos verbreitet werden, ohne dass eine Korrektur bei Änderung des
          ursprünglichen Links kommuniziert werden muss. Die Anpassung des Verweises erfolgt dynamisch im Hintergrund über die Fluid QR
          Plattform. Zu jedem Fluid QR Link wird ein QR Code zum Herunterladen bereitgestellt.
        </p>
        <div>
          <a class="btn btn-secondary" routerLink="/qr-codes" jhiTranslate="home.button.letsGo">Los geht's</a>
        </div>
      </div>
    </div>
  </section>
</div>
